@model citymaster.Models.citymaster

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>citymaster</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.state.strstatename)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.state.strstatename)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.cityname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.cityname)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <span>|</span>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>
